*{
    background-color: #edf7ff;
    margin: 0;
    padding: 0;
}

.contenedor{
    margin-left: 100px;
}

.color1{
    color: #0a2ff1;
}

.color2{
    color: #04146c;
}

.tittle{
    font-family: 'MuseoModerno';
    font-size: 88pt;
}

.desc{
    font-family: 'Asap', sans-serif;
    font-size: 39pt;
    padding-bottom: 100px;
}

.p{
    font-family: 'Asap', sans-serif;
    font-size: 25pt;
}

.p2{
    margin-top: 50px;
}

.tittleUL{
    font-family: 'MuseoModerno', cursive;
    font-size: 36pt;
    margin-top: 50px;
}

.li{
    font-family: 'Asap', sans-serif;
    font-size: 25pt;
    margin-left: 30px;
}

.modo{
    font-family: 'MuseoModerno', cursive;
    font-size: 149pt;
    color: #8a9af1;
}

