
@import "../node_modules/bootstrap/scss/bootstrap";

body{
    background-color: #393E46;
}

.header{
    background-color: #222831;
    color: #EEEEEE
}

label{
    color: #EEEEEE !important
}
.btn-primary{
    color: #222831 !important;
    border: none;
    background-color: #00ADB5 !important;
}